@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/HomeCss.css" asp-append-version="true" />
<link rel="stylesheet" href="~/MShopStyle.styles.css" asp-append-version="true" />


<style>
    p{
        font-family: "DM Serif Display", serif;
        color: silver;
    }
  
    .text{
        font-size:40px;
        margin-bottom:50px;
    }
  
    
    img{
        width:130px;
        height:170px;
    }
    .images{
        margin-left:-110px;
    }
</style>
<body>
    <div class="mt-5">
  
    <p class="text"> 
        Get the merch of <br>
         your favorite artists here.
    </p>
      

    </div>
    <partial name="_LoginPartial" />
    <div class="mt-5 d-flex images">
        <img src="https://i.pinimg.com/originals/87/1d/74/871d74555439c8bd7e0c15aa75733533.jpg" />
        <img src="https://i.pinimg.com/originals/48/01/81/480181138e614fdef36f1986ce247f36.jpg" />
        <img src="https://i.pinimg.com/originals/12/69/d6/1269d6e9a5913c734c75624a16538b9f.jpg" />
        <img src="https://i.pinimg.com/originals/14/8c/00/148c003008eaf9fef287850ec07ca3f8.jpg" />
        <img src="https://i.pinimg.com/originals/a4/74/2b/a4742b285335be880ecef5913f3c219e.png" />
        <img src="https://i.pinimg.com/originals/da/15/ba/da15ba3dcb00099e8185b762a9008645.jpg" />
        <img src="https://i.pinimg.com/originals/ab/97/b4/ab97b477d9c4e31920515951bf29ff75.jpg" />
        <img src="https://i.pinimg.com/originals/54/64/81/546481f5eb72e7bee43316341cd89b8c.jpg" />
        <img src="https://i.pinimg.com/originals/e9/c3/e2/e9c3e2d4645cd9b82469bbfef5a643e3.jpg" />
        <img src="https://i.pinimg.com/originals/b2/8b/4f/b28b4f0be02639162996d00438b31f40.jpg" />
        <img src="https://i.pinimg.com/originals/53/cd/b4/53cdb4110145c298e6cc8a4729740624.jpg" />
        <img src="https://i.pinimg.com/originals/de/39/87/de3987742b2027046d612161d4446d05.jpg" />
        <img src="https://i.pinimg.com/originals/87/1d/74/871d74555439c8bd7e0c15aa75733533.jpg" />
    </div>

</body>
